main {
    flex: 1;
    flex-shrink: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: $padding-large;
    margin: 0;
    transition:
        margin 500ms,
        width 500ms,
        box-shadow 750ms;
}

// Large

@media (min-width: 1080px) {
    main {
        width: 1050px;
        max-width: 1050px;
        margin: 2rem auto;
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
    }
}


