// Fonts
$opensans: 'Open Sans', sans-serif;
$economica: 'Economica', sans-serif;
$arvo: 'Arvo', serif;

// Colors

// Primary
$bright-teal: #00abc7;
$dark-teal: #00748d;
$black: #000;
$dark-gray: #231f20;

// Secondary
$navy-blue: #003764;
$bright-blue: #307fe2;
$purple: #ac6fc6;

// Tertiary
$red: #e40046;
$yellow: #ffc72c;
$mint: #00c7b1;
$orange: #ff8200;
$green: #b7bd57;
$taupe: #a09958;

// Global lengths

$padding-small: 0.25rem;
$padding-medium: 0.5rem;
$padding-large: 2rem;

@mixin restrictWidth {
    max-width: 1050px;
}

@mixin card {
    border: 0;
    margin: 1rem 0;
    padding: 0;
    flex: 1;
    // border: 1px solid #ccc;
    // margin-bottom: 1rem;
    // padding: 1rem;
}
