@import 'globals';
@import 'header';
@import 'nav';
@import 'main';
@import 'footer';
@import 'templates/templates';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $opensans;
    margin: 0;
    line-height: 1.75;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #454B4D;
}

a, a:hover, a:visited, a:hover {
    text-decoration: none;
    color: #59b;
}
a:hover {
    color: #6ac;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    padding: 0;
    margin: 0;
}

.page-title {
    font-family: $opensans;
    text-align: center;
    border-image-slice: 1;
    border-image-source: -webkit-linear-gradient(right, #fff, #59b, #fff);
    border-image-source: -o-linear-gradient(right, #fff, #59b, #fff);
    border-image-source: linear-gradient(right, #fff, #59b, #fff);
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0 1rem;
    margin-bottom: 2rem;
    z-index: 0;
    display: inline;
}

[class*="list"] {
    display: flex;
    flex-direction: column;
}