{% extends 'no_sidebar.html' %}

{% block content %}

    <h1 class="page-title">{{ project.title }}</h1>
    <div class="project">
        <div class="project__details">
            {% if project.image %}
                <img class="project__image" src={{ project.image.url }} />
            {% endif %}
            {{ project.details }}
        </div>
        {% if project.website %}
            <div class="project__website">
                {{ project.website }}
            </div>
        {% endif %}
        <div class="project__staff">
            <strong>Associated Staff</strong>
            {% for staff_member in staff %}
                <li><a href="{% url 'staff:detail' staff_member.slug %}">{{ staff_member.display_name }}</a></li>
            {% endfor %}
        </div>
        <div class="project__publications">
            <strong>Associated Publications</strong>
            {% for publication in publications %}
                <li><a href="{% url 'publications:detail' publication.id %}">{{ publication.title }}</a></li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
