<ul class="nav__list">
  <li class="nav__list-item"><a href="{% url 'index' %}">Home</a></li>
  <li class="nav__list-item"><a href="{% url 'projects:index' %}">Projects</a></li>
  <li class="nav__list-item"><a href="{% url 'publications:index' %}">Publications</a></li>
  <li class="nav__list-item"><a href="{% url 'staff:index' %}">Staff</a></li>
  <li class="nav__list-item"><a href="{% url 'datasets:index' %}">Data Sets</a></li>
</ul>

<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>

