{% extends 'no_sidebar.html' %}

{% block content %}

  <h1 class="page-title publication__title">{{ publication.title }}</h1>
  <div class="single-publication">
      <div class="publication__authors">
          Authors:
          <ul>
              {% for staff_member in staff %}
                  <li><a href="{% url 'staff:detail' staff_member.slug %}">{{ staff_member.display_name }}</a></li>
              {% endfor %}
          </ul>
      </div>
      <div class="publication__projects">
          Related Projects:
          <ul>
              {% for project in projects %}
                  <li><a href="{% url 'projects:detail' project.id %}">{{ project.title }}</a></li>
              {% endfor %}
          </ul>
      </div>
      <div class="publication__abstract">
          <h3>Abstract</h3>
          {{ publication.abstract }}
      </div>
      <div class="publication__citation">
          {{ publication.citation }}
      </div>
  </div>
{% endblock %}

