{% extends 'no_sidebar.html' %}

{% block content %}

    <h1 class="page-title">Blog - {{ category.title }}</h1>

    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="post__heading">
                    <h3 class="post__title">
                        <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                    </h3>
                    <div class="post__category">
                        Posted in <a href="{% url 'blog:category' post.category.slug %}">{{ post.category }}</a>
                    </div>
                </div>
                <div class="post__summary">
                    {{ post.body|truncatewords_html:30 }}
                </div>
                <div class="post__meta">
                    {{ post.date_published }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}