{% extends 'base.html' %}

{% block content %}

    <h1 class="page-title">Blog</h1>

    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="post__heading">
                    <h3 class="post__title">
                        <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                    </h3>
                    <div class="post__category">
                        Posted in <a href="{% url 'blog:category' post.category.slug %}">{{ post.category }}</a>
                    </div>
                </div>
                <div class="post__summary">
                    {{ post.body|safe|truncatewords_html:50 }}
                </div>
                <div class="post__meta">
                    {{ post.create_date }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}