{% extends 'base.html' %}

{% block content %}
  <h1>Earth Data Science at RENCI</h1>
  <h3>Bridging Advanced Data Science, Cyberinfrastructure, and Earth Research</h3>
  
  <ul>
    <li>Earth Data Science - Providing solutions to data-related challenges of the study of the Earth and Environment</li>
    <li>Modeling - Addressing the intersection of high performance and high throughput computing with Earth research</li>
    <li>Social Aspects of Earth Data Science - Building communities and stakeholder Alignment</li>
    <li>Cyberinfrastructure - Leveraging advanced cyberinfrastructure for Earth research</li>
  </ul>
  {% if context %}
    we got context
  {% endif %}
{% endblock content %}