@import '../globals';

.posts {
    // *, & {border: 1px solid #f00;}
    .posts__filters {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .posts__filters__item {
            margin: 0 1rem;
        }
    }
    .post {
        @include card;
        .post__heading {
            display: flex;
            flex-direction: row;
            @media (max-width: 600px) {
                flex-direction: column;
            }
        }
        .post__title {
            line-height: 1.25;
            flex: 1;
        }
        .post__category {
        }
        .post__body {
        }
        .post__meta {
            font-size: 0.8em;
            text-align: right;
            color: $dark-teal;
            font-style: italic;
        }
    }
}

.post {
    .post__date {
        font-size: 0.8em;
        text-align: right;
        color: $dark-teal;
        font-style: italic;
        margin-bottom: 1rem;
    }
}