@import '../globals';

.projects-list {
    .project {
        // &, * { border: 1px solid #f00; }
        @include card;
        .project__image {
            height: 100px;
        }
        .project__title {
            line-height: 1.25;
        }
        .project__summary {
        }
        .project__staff {
            ul {
                display: inline;
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline;
                    margin-left: 1rem;
                }
            }
        }
    }
}

.project__header {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 2rem;
}
.project__content {
    ul {
        padding: 0 1rem;
        margin: 0;
    }
}
