@import '../globals';

.publication-list {
    .publication {
        @include card;
        .publication__title {
            line-height: 1.25;
        }
        .publication__abstract {

        }
    }
}

.single-publication {
    .publication__title {
    }
    .publication__authors, .publication__projects {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline;
            margin-left: 0.5rem;
            li {
                display: inline;
                margin-right: 0.5rem;
            }
        }
    }
    .publication__authors {
    }
    .publication__projects {
        margin-bottom: 1rem;
    }
    .publication__abstract {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .publication__citation {
        font-size: 0.9rem;
        font-style: italic;
        color: #aaa;
    }
}